html {
    background-color: #282828;

}

.wrap {
    color: white;
    height: 100%;
    width: 100%;
    position: absolute;
}

.mh {
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

.line {
    display: flex;
    border-bottom: 1px solid #333232;
}


.circle {
    margin: 1px;
}
.linetext {
    font-size: 20px;
}

.foot {
    position: fixed;
    bottom: 0;
    width: 100%;
}

a:link, a, a:active, a:any-link {
    color: white;
}

.alert a, a:active, a:any-link {
    color: black
}